/*Colors and text*/
body
{
    color: white;
    background-color: black;

    font-family: 'Open Sans', sans-serif;
}

.backgroundImage
{
    background-color: black;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar 
{
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track 
{
    background: rgba(255,255,255,0);
}
  
/* Handle */
::-webkit-scrollbar-thumb 
{
    background: rgb(201, 201, 201)
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: #808080;
}

.sectionBackground
{
    background: rgba(175,175,175,.4);
}

h4
{
    color: #b4b4b4;
}

.project-list a, .project-list a:visited, .project-list a:active, .arrow, .arrow:visited, .arrow:active, .arrow a, .arrow a:visited, .arrow a:active
{
    color: white;
    text-decoration: none;
}

footer
{
    text-align: center;
    font-size: 14px;
    color: #838383;
}
footer, footer a:visited, footer a:link
{
    color: #838383;
}


/*Animations*/
/*OnEnter*/
@keyframes OnEnterBackground
{
    0%, 30%
    {   
        -webkit-filter: brightness(100%);
        filter: brightness(100%);

        width:20%;
        height: auto;
    }

    100%
    {
        filter: brightness(40%);
        -webkit-filter: brightness(40%);

        width:40%;
        height: auto;
    }
}
@keyframes OnEnterBackgroundMobile
{
    0%, 30%
    {   
        -webkit-filter: brightness(100%);
        filter: brightness(100%);

        width:40%;
        height: auto;
    }

    100%
    {
        filter: brightness(40%);
        -webkit-filter: brightness(40%);

        width:60%;
        height: auto;
    }
}
@keyframes OnEnterContent
{
    0%, 50%
    {
        opacity: 0;
        -webkit-opacity: 0;
    }

    100%
    {
        opacity: 1;
        -webkit-opacity: 1;
    }
}


/*Styling*/
/*Page*/
html
{
    height: 100%;
    scroll-behavior: smooth;
}

body
{
    height: 100%;

    margin: 0;
    padding: 0;

    text-align: center;

    background-attachment: fixed;
}

.mobile-only
{
    display: none;
}

/*BACKGROUND*/
.backgroundImage
{
    margin:0 auto;
    padding: 0;
    clear: both;

    position:fixed;

    top:50%;
    transform: translate(0, -50%);

    width:40%;
    height: auto;

    z-index: -2;

    animation-name: OnEnterBackground;
    animation-duration: 2s;

    -webkit-animation-name: OnEnterBackground;
    -webkit-animation-duration: 2s;

    filter: brightness(40%);
    -webkit-filter: brightness(40%);
}

/*Bootstrap containers*/
.container-fluid
{
    animation-name: OnEnterContent;
    animation-duration: 2s;

    -webkit-animation-name: OnEnterContent;
    -webkit-animation-duration: 2s;

    opacity: 1;
    -webkit-opacity: 1;

    padding: 0;
}

#mainRow
{
    overflow-x: hidden;
}

.align-items-center
{
    display: flex;
}

/*SECTIONS*/
/*Section content*/
section
{
    padding: 3em 1em 3em 1em;
    text-align: center;
}

/*Section background*/
.sectionBackground
{
    width:100%;
    height:100vh;

    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);

    z-index: 1;
}

.left
{
    width:100%;
    height:100%;

    /*Allows for separate scrollbars*/
    position: absolute;

    padding-right:6em;
    padding-left:1em;

    margin-left:0;

    /*Cut background*/
    clip-path: polygon(0 0, 100% 0, calc(100% - 100px) 100%, 0% 100%);

    /*Allows for separate scrollbars*/
    overflow-y: auto;
    direction:rtl;
}

.right
{
    width:100%;
    height:100%;

    /*Allows for separate scrollbars*/
    position: absolute;

    padding-left:6em;
    padding-right:1em;

    margin-right:0;

    /*Cut background*/
    clip-path: polygon(100px 0, 100% 0, 100% 100%, 0% 100%);

    /*Allows for separate scrollbars*/
    overflow-y: auto;
    direction:ltr;
}

/*ABOUT ME*/
.logoImg
{
    width: 15em;
    height: auto;
    
    margin-bottom: 1em;

    border: 3px solid #b4b4b4;
}

.aboutMe
{
    margin: auto;
    width: 70%;

    margin-top: 2em;
    margin-bottom: 2em;
}

.socialButtonsHolder
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.socialButton
{
    float:left;

    width:2.5em;
    height:auto;

    margin: .25em;
}

#showAboutMe
{
    position: absolute;

    top:25px;
    left:25px;

    cursor: pointer;

    /*Hide by default*/
    display:none;
}

/*PROJECT LIST*/
.projectList
{
    width: 100%;
    height:100%;
}

.projectButton
{
    width: 80%;
    height: 4em;

    text-align: center;
    font-size: 24px;

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 1em;

    border: solid 5px #808080;
    border-radius: 15px;
}
.projectButtonBackground /*TODO IMPROVE THIS*/
{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: auto;
}

/*FOOTER*/
footer
{
    position: fixed;
    text-align: center;
    margin: 0 auto;
    width:100%;

    /*Left 0 is middle because footer is in the right section*/
    left: 0;


    bottom: 10px;

    z-index: 10;
}

/*Mobile*/
@media only screen and (max-width: 1199px) 
{
    .mobile-only
    {
        display: initial;
    }

    /*BACKGROUND*/
    .backgroundImage
    {
        width:60%;

        animation-name: OnEnterBackgroundMobile;
        animation-duration: 2s;

        -webkit-animation-name: OnEnterBackgroundMobile;
        -webkit-animation-duration: 2s;
    }

    /*SECTIONS*/
    .sectionBackground
    {
        position: relative;

        width: 100%;
        height: 100%;
    }

    .left
    {
        /*All sections in one column*/
        position: relative;

        padding-right:1em;
        padding-left:1em;
        padding-bottom:3em;

        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 0% 100%);
    }
     
    .right
    {
        /*All sections in one column*/
        position: relative;

        padding-left:1em;
        padding-right:1em;
        padding-top:2em;

        padding-bottom: 4em;

        clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);
    }

    section
    {
        width:100%;
        padding-bottom: 1em;
    }

    /*FOOTER*/
    footer
    {
        position: absolute;

        margin-top:4em;
        bottom: 10px;
    }
}