/*Colors and text*/
body
{
    color: white;
    background-color: black;

    font-family: 'Open Sans', sans-serif;
}

.backgroundImage
{
    background-color: black;
}

.sectionBackground
{
    background-color: #808080;
}

h4
{
    color: #b4b4b4;
}

footer
{
    text-align: center;
    font-size: 14px;
    color: #838383;
}
footer, footer a:visited, footer a:link
{
    color: #838383;
}


/*Animations*/
/*OnEnter*/
@keyframes OnEnterBackground
{
    0%
    {
        filter: blur(0px);
        opacity: 1;
    }

    25%
    {
        filter: blur(0px);
        opacity: 1;
    }

    100%
    {
        filter: blur(4px);
        opacity: .4;
    }
}
@keyframes OnEnterContent
{
    0%
    {
        opacity: 0;
    }

    50%
    {
        opacity: 0;
        filter: blur(1px);
    }

    100%
    {
        opacity: 1;
        filter: blur(0px);
    }
}


/*Styling*/
/*Page*/
html
{
    height: 100%;
}

body
{
    height: 100%;

    margin: 0;
    padding: 0;

    text-align: center;

    background-attachment: fixed;
}

/*Background*/
.backgroundImage
{
    margin:0 auto;
    padding: 0;
    clear: both;

    position:fixed;

    left:0%;
    top:0%;

    object-fit: cover;
    object-position: 50% 50%;
    
    height:100%;
    width:100%;

    z-index: -1;

    animation-name: OnEnterBackground;
    animation-duration: 2s;

    filter: blur(4px);
    opacity: .4;
}

/*Bootstrap containers*/
.container-fluid
{
    animation-name: OnEnterContent;
    animation-duration: 3s;

    opacity: 1;

    padding: 0;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.align-items-center
{
    display: flex;
}

/*Sections*/
/*Section content*/
.section
{
    padding: 3em 1em 3em 1em;
    text-align: center;
}

/*Section background*/
.sectionBackground
{
    width:100%;
    height:100vh;

    z-index: 1;
    background: inherit;
}
.sectionBackground::before
{
    content: "";
    position: fixed;
    background: inherit;
    z-index: -1;

    /*Blur and shadow*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 2000px rgba(255,255,255,0.2);
}

/*Hide scrollbars*/
.left::-webkit-scrollbar, .right::-webkit-scrollbar
{
    display: none;
}

.left
{
    width:100%;
    height:100%;

    /*Allows for separate scrollbars*/
    position: absolute;

    padding-right:6em;
    padding-left:1em;

    margin-left:0;

    /*Cut background*/
    clip-path: polygon(0 0, 100% 0, calc(100% - 100px) 100%, 0% 100%);

    /*Hide scrollbars*/
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.right
{
    width:100%;
    height:100%;

    /*Allows for separate scrollbars*/
    position: absolute;

    padding-left:6em;
    padding-right:1em;

    margin-right:0;

    /*Cut background*/
    clip-path: polygon(100px 0, 100% 0, 100% 100%, 0% 100%);

    /*Hide scrollbars*/
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*About me*/
.logoImg
{
    width: 15em;
    height: auto;
    
    margin-bottom: 1em;

    border: 3px solid #b4b4b4;
}

.aboutMe
{
    margin: auto;
    width: 70%;

    margin-top: 2em;
    margin-bottom: 2em;
}

.socialButtonsHolder
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.socialButton
{
    float:left;

    width:2.5em;
    height:auto;

    margin: .25em;
}

footer
{
    position: relative;
    margin: 0 auto;
    width:100%;

    margin-top: 10em;
}

/*Mobile*/
@media only screen and (max-width: 1199px) 
{
    /*Sections*/
    .sectionBackground
    {
        position: relative;

        width: 100%;
        height: 100%;
    }

    .left
    {
        /*All sections in one column*/
        position: relative;

        padding-right:1em;
        padding-left:1em;
        padding-bottom:3em;

        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 0% 100%);
    }
     
    .right
    {
        /*All sections in one column*/
        position: relative;

        padding-left:1em;
        padding-right:1em;
        padding-top:2em;

        clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);
    }

    .section
    {
        width:100%;
        padding-bottom: 1em;
    }
}