# enable basic rewriting
RewriteEngine on

RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^michalmyszor\.bbsch\.pl$ [NC]
RewriteRule ^ https://www.mitchel.bbsch.pl%{REQUEST_URI} [L,R=301,NE]

RewriteCond %{HTTP_HOST} ^www\.michalmyszor\.bbsch\.pl$ [NC]
RewriteRule ^ https://www.mitchel.bbsch.pl%{REQUEST_URI} [L,R=301,NE]

Redirect 301 /asciiart https://www.mitchel.bbsch.pl/projects/asciiart/index.html

Redirect 301 /asciibar https://www.mitchel.bbsch.pl/projects/asciibar/index.html

Redirect 301 /dots https://www.mitchel.bbsch.pl/projects/dots/index.html

Redirect 301 /hierarchytree https://www.mitchel.bbsch.pl/projects/hierarchytree/index.html

Redirect 301 /hold https://www.mitchel.bbsch.pl/projects/hold/index.html

Redirect 301 /naszaporadnia https://www.naszaporadnia.net/

Redirect 301 /noise https://www.mitchel.bbsch.pl/projects/noise/index.html

Redirect 301 /bronx https://www.mitchel.bbsch.pl/projects/bronx/index.html

Redirect 301 /kanban http://ec2-18-159-79-121.eu-central-1.compute.amazonaws.com/